{% extends "base.html" %} {% block title %}Sản phẩm - Cửa hàng Demo{% endblock
%} {% block content %}
<h1>Danh sách sản phẩm</h1>
<div class="product-grid">
  {% for product in products %}
  <div class="product-card">
    <img src="{{ product.image_url }}" alt="{{ product.name }}" />
    <h3>
      <a href="{{ url_for('product_detail', product_id=product.id) }}"
        >{{ product.name }}</a
      >
    </h3>
    <p class="price">{{ product.price | int }} VNĐ</p>
    <a href="{{ url_for('add_to_cart', product_id=product.id) }}" class="button"
      >Thêm vào giỏ</a
    >
  </div>
  {% else %}
  <p>Không có sản phẩm nào.</p>
  {% endfor %}
</div>
{% endblock %}
